.env

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

infra/.terraform/*
*.tfvars
*.tfstate
*.tfstate.*
*.terraform.tfstate.lock.info

output/*.xlsx
output/workshop_catalog_checkpoint.json
output/workshop_catalog_delta_state.json

**/.DS_Store
